@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";

#About{
    padding: 0 50px;
    @include medium{
        font-size: 80%;
    }
        h2{
            @extend %styleTiltle;
            @extend %styleSpan
        }
        .inf_me{
            margin-top: 30px;
            color: $white;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 30px;
            @extend %styleSpan;
            @extend %styleButton
            
        }
        .inf_achieve{
            width: 100%;
            display: grid;
            grid-template-rows: repeat(1,1fr);
            grid-template-columns: repeat(4,1fr);
            margin-top: 20px;
            margin-bottom: 80px;
            gap: 15px;
            .inf_achieve_item{
                color: $white;
                padding: 20px;
                height: 100px;
                background-color: $bgbtn;
                text-align: center;
                margin-top: 20px;
                @extend %styleSpan;
            }
            @include xsmall{
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: repeat(2,1fr);
                gap:1px 15px;
            }
        }
}