@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";


#Contact{
    padding: 0 50px;
    margin: 70px 0;
    @include medium{
        font-size: 80%;
    }
    h2{
        @extend %styleTiltle;
        @extend %styleSpan;
    }
    .row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;
        @include xsmall{
            flex-direction: column;
        }
        .content{
            width: 100%;
            padding-top: 16px;
            
            .title{
                text-transform: uppercase;
                color:$white;
                font-size: 25px;
                padding-bottom: 20px;
                @include laptop{
                    font-size: 22px;
                }
                @include mobile{
                    font-size: 20px;
                }
                @include xsmall{
                    padding-bottom: 10px;
                }
            }
            .info{
                h3{
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    color:$white;
                    padding:10px 0;
                    font-weight: normal;
                    i{
                        padding-right: 1rem;
                        color:$orange;
                    }
                }
            }
        }
        form{
            @include laptop{
                margin-left: 20px;
            }
            @include xsmall{
                margin-left: 0px;
            }
            .box{
                border: none;
                padding:10px;
                margin:16px 0;
                background:$colorBgHeader;
                color:$white;
                font-size: 16px;
                width:100%;
                &::placeholder{
                    text-transform: capitalize;
                }
            }
            @extend %styleButton
        }
    }
}