@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";

#Education{
    padding: 0 50px;
    margin-bottom: 50px;
    @include mobile{
        padding:0 10px;
    }
    @include medium{
        font-size: 80%;
    }
    
    h2{
        @extend %styleTiltle;
        @extend %styleSpan;
    }
    .Education_time{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:60px 15px;
        @include laptop{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            // gap:60px 15px;
        }
        @include xsmall{
            grid-template-columns: repeat(1,1fr);
            // grid-template-rows: repeat(2,1fr);
        }
        .item{
            display: flex;
            span{
                position: relative;
                padding-right: 25px;
                margin-right: 15px;
                width:45px;
                height:45px;
                background-color: $orange;
                color: $white;
                border-radius: 50%;
                @extend %styleFlex;
                i{
                    margin-left: 25px;
                    font-size: 22px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 160px;
                    background-color: $white;
                    bottom:-160px;
                    left:22px; 
                    @include laptop{
                        height: 100px;
                        bottom:-100px;
                    }
                    @include medium{
                        height: 100px;
                        bottom:-100px;
                    }
                    @include xsmall{
                        height: 70px;
                        bottom:-70px;
                    }
                }
            }
            .year{
                margin-top: 10px;
                padding:5px 10px;
                background-color: $bgbtn;
                font-size: 14px;
                width: 60px;
                text-align: center;
                border-radius: 15px;
                color: $white;
            }
            .carrer{
                margin-top: 10px;
                color: $white;
                font-size: 18px;
                @include small{
                    font-size: 14px;
                }
            }
            p{
                color: $white;
                margin-top: 10px;
                @include small{
                    margin-top: 5px;
                }
            }
        }
    }
}