
@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";

header {
    width: 350px;
    height: 100vw;
    background-color: $colorBgHeader;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 40px 20px 20px 20px;
    z-index: 1000;
    @include mobile{
        left: -350px;
    }
    @include xsmall{
        height: 190vw;
        width: 320px;
    }
    .user{
        color: $white;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 5px solid $orange;
        }
        h2{ 
            margin-top: 15px;
            @include xsmall{
                font-size: 23px;
            }
        }
        p{
            margin-top: 10px;
            font-size: 18px;
            @include xsmall{
                font-size: 90%;
            }
        }
    }
    .navbar{
        margin-top: 10px;
        ul{
            list-style: none;
            @extend %styleFlex;
            flex-direction: column;
            li{
                background-color: $bgbtn;
                margin: 10px 0;
                width: 250px;
                border-radius: 40px;
                @include xsmall{
                    width: 220px;
                }
                &:hover{
                    background-color: $orange;
                }

                a{
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                    color: $white;
                    font-size: 20px;
                    @include xsmall{
                        font-size: 90%;
                    }
                }
            }
        }
    }
}