@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";

#Home{
    @include medium{
        font-size: 80%;
    }
    padding: 0 50px;
    @extend %styleFlex;
    div{
        margin: 200px 0;

        h3{
            color: $white;
            text-transform: uppercase;
        }
        h1{
            text-transform: uppercase;
            color: $white;
            margin-top: 5px;
            @extend %styleSpan
        }
        p{
            color: $white;
            margin-top: 15px;
            font-size: 18px;
        }
        @extend %styleButton;
    }
}