
@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";

#menu{
    color: $white;
    font-size: 25px;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #111111;
    cursor: pointer;
    padding: 8px;
    width: 46px;
    text-align: center;
    z-index: 1000;
    @include mobile{
        background: $bgbtn;
    }
    .open{
        display: none;
        @include mobile{
            display: block;
        }
    }
    
    .close{
        display: none;
    }

    .activeOpen{
        @include mobile{
            display: none;
        }
    }
    .activeClose{
        @include mobile{
            display: block;
        }
    }
}
.showNav{
    @include mobile{
        left: 0
    }
}