@mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width:992px){
        @content;
    }
}

@mixin medium{
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin small{
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin xsmall{
    @media screen and (max-width:600px){
        @content;
    }
}