@import "./variable.scss";
@import "./samesame.scss";
@import "./mixin.scss";


#Portfolio{
    @include medium{
        font-size: 80%;
    }
    padding: 0 50px;
    h2{
        @extend %styleTiltle;
        @extend %styleSpan;
    }
    .box-container{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        gap:50px 15px;
        margin-top: 30px;
        @include xsmall{
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(2,1fr);
            gap:40px 15px;
        }
        .box{
            img{
                width: 100%;
                height: 120%;
            }
            
        }
    }
}