*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #111111;
    padding-left: 350px;
    @include mobile{
        padding: 0 20px ;
    }
}