@import "./variable.scss";

%styleButton{
    button{
        margin-top: 20px;
        padding: 15px 25px;
        border: none;
        background-color: $bgbtn;
        color: $white;
        border-radius: 20px;
        font-size: 15px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
            background-color: $orange;
        }
        i{
            margin-left: 3px;
        }    
    }
}

%styleSpan{
    span{
        color: $orange;
    }
}

%styleTiltle{
    color: $white;
    text-align: center;
    font-size: 30px;   
    padding-top: 20px;
}

%styleFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
