#About .inf_me button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
#About .inf_me button:hover {
  background-color: #f9ca24;
}
#About .inf_me button i {
  margin-left: 3px;
}

#About .inf_achieve .inf_achieve_item span, #About .inf_me span, #About h2 span {
  color: #f9ca24;
}

#About h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#About {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #About {
    font-size: 80%;
  }
}
#About .inf_me {
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}
#About .inf_achieve {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  margin-bottom: 80px;
  gap: 15px;
}
#About .inf_achieve .inf_achieve_item {
  color: #fff;
  padding: 20px;
  height: 100px;
  background-color: #333;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  #About .inf_achieve {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1px 15px;
  }
}/*# sourceMappingURL=about.css.map */