#Contact .row form button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
#Contact .row form button:hover {
  background-color: #f9ca24;
}
#Contact .row form button i {
  margin-left: 3px;
}

#Contact h2 span {
  color: #f9ca24;
}

#Contact h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#Contact {
  padding: 0 50px;
  margin: 70px 0;
}
@media screen and (max-width: 768px) {
  #Contact {
    font-size: 80%;
  }
}
#Contact .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  #Contact .row {
    flex-direction: column;
  }
}
#Contact .row .content {
  width: 100%;
  padding-top: 16px;
}
#Contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  #Contact .row .content .title {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  #Contact .row .content .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #Contact .row .content .title {
    padding-bottom: 10px;
  }
}
#Contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
  font-weight: normal;
}
#Contact .row .content .info h3 i {
  padding-right: 1rem;
  color: #f9ca24;
}
@media screen and (max-width: 1200px) {
  #Contact .row form {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  #Contact .row form {
    margin-left: 0px;
  }
}
#Contact .row form .box {
  border: none;
  padding: 10px;
  margin: 16px 0;
  background: #222;
  color: #fff;
  font-size: 16px;
  width: 100%;
}
#Contact .row form .box::-moz-placeholder {
  text-transform: capitalize;
}
#Contact .row form .box:-ms-input-placeholder {
  text-transform: capitalize;
}
#Contact .row form .box::placeholder {
  text-transform: capitalize;
}/*# sourceMappingURL=contact.css.map */