#Education h2 span {
  color: #f9ca24;
}

#Education h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#Education .Education_time .item span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Education {
  padding: 0 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  #Education {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  #Education {
    font-size: 80%;
  }
}
#Education .Education_time {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px 15px;
}
@media screen and (max-width: 1200px) {
  #Education .Education_time {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #Education .Education_time {
    grid-template-columns: repeat(1, 1fr);
  }
}
#Education .Education_time .item {
  display: flex;
}
#Education .Education_time .item span {
  position: relative;
  padding-right: 25px;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  background-color: #f9ca24;
  color: #fff;
  border-radius: 50%;
}
#Education .Education_time .item span i {
  margin-left: 25px;
  font-size: 22px;
}
#Education .Education_time .item span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 160px;
  background-color: #fff;
  bottom: -160px;
  left: 22px;
}
@media screen and (max-width: 1200px) {
  #Education .Education_time .item span::after {
    height: 100px;
    bottom: -100px;
  }
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item span::after {
    height: 100px;
    bottom: -100px;
  }
}
@media screen and (max-width: 600px) {
  #Education .Education_time .item span::after {
    height: 70px;
    bottom: -70px;
  }
}
#Education .Education_time .item .year {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  font-size: 14px;
  width: 60px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
}
#Education .Education_time .item .carrer {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item .carrer {
    font-size: 14px;
  }
}
#Education .Education_time .item p {
  color: #fff;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item p {
    margin-top: 5px;
  }
}/*# sourceMappingURL=education.css.map */