header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 350px;
  height: 100vw;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 40px 20px 20px 20px;
  z-index: 1000;
}
@media screen and (max-width: 992px) {
  header {
    left: -350px;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 190vw;
    width: 320px;
  }
}
header .user {
  color: #fff;
}
header .user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #f9ca24;
}
header .user h2 {
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  header .user h2 {
    font-size: 23px;
  }
}
header .user p {
  margin-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  header .user p {
    font-size: 90%;
  }
}
header .navbar {
  margin-top: 10px;
}
header .navbar ul {
  list-style: none;
  flex-direction: column;
}
header .navbar ul li {
  background-color: #333;
  margin: 10px 0;
  width: 250px;
  border-radius: 40px;
}
@media screen and (max-width: 600px) {
  header .navbar ul li {
    width: 220px;
  }
}
header .navbar ul li:hover {
  background-color: #f9ca24;
}
header .navbar ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  header .navbar ul li a {
    font-size: 90%;
  }
}/*# sourceMappingURL=header.css.map */