#Home div button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
#Home div button:hover {
  background-color: #f9ca24;
}
#Home div button i {
  margin-left: 3px;
}

#Home div h1 span {
  color: #f9ca24;
}

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Home {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #Home {
    font-size: 80%;
  }
}
#Home div {
  margin: 200px 0;
}
#Home div h3 {
  color: #fff;
  text-transform: uppercase;
}
#Home div h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 5px;
}
#Home div p {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}/*# sourceMappingURL=home.css.map */