#menu {
  color: #fff;
  font-size: 25px;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #111111;
  cursor: pointer;
  padding: 8px;
  width: 46px;
  text-align: center;
  z-index: 1000;
}
@media screen and (max-width: 992px) {
  #menu {
    background: #333;
  }
}
#menu .open {
  display: none;
}
@media screen and (max-width: 992px) {
  #menu .open {
    display: block;
  }
}
#menu .close {
  display: none;
}
@media screen and (max-width: 992px) {
  #menu .activeOpen {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #menu .activeClose {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .showNav {
    left: 0;
  }
}/*# sourceMappingURL=menu.css.map */