#Portfolio h2 span {
  color: #f9ca24;
}

#Portfolio h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#Portfolio {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #Portfolio {
    font-size: 80%;
  }
}
#Portfolio .box-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 15px;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  #Portfolio .box-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 15px;
  }
}
#Portfolio .box-container .box img {
  width: 100%;
  height: 120%;
}/*# sourceMappingURL=Portfolio.css.map */