* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

#Contact .row form button, #About .inf_me button, #Home div button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
#Contact .row form button:hover, #About .inf_me button:hover, #Home div button:hover {
  background-color: #f9ca24;
}
#Contact .row form button i, #About .inf_me button i, #Home div button i {
  margin-left: 3px;
}

#Contact h2 span, #Portfolio h2 span, #Education h2 span, #About .inf_achieve .inf_achieve_item span, #About .inf_me span, #About h2 span, #Home div h1 span {
  color: #f9ca24;
}

#Contact h2, #Portfolio h2, #Education h2, #About h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#Education .Education_time .item span, #Home, header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #111111;
  padding-left: 350px;
}
@media screen and (max-width: 992px) {
  body {
    padding: 0 20px;
  }
}

#menu {
  color: #fff;
  font-size: 25px;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #111111;
  cursor: pointer;
  padding: 8px;
  width: 46px;
  text-align: center;
  z-index: 1000;
}
@media screen and (max-width: 992px) {
  #menu {
    background: #333;
  }
}
#menu .open {
  display: none;
}
@media screen and (max-width: 992px) {
  #menu .open {
    display: block;
  }
}
#menu .close {
  display: none;
}
@media screen and (max-width: 992px) {
  #menu .activeOpen {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #menu .activeClose {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .showNav {
    left: 0;
  }
}

header {
  width: 350px;
  height: 100vw;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 40px 20px 20px 20px;
  z-index: 1000;
}
@media screen and (max-width: 992px) {
  header {
    left: -350px;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 190vw;
    width: 320px;
  }
}
header .user {
  color: #fff;
}
header .user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #f9ca24;
}
header .user h2 {
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  header .user h2 {
    font-size: 23px;
  }
}
header .user p {
  margin-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  header .user p {
    font-size: 90%;
  }
}
header .navbar {
  margin-top: 10px;
}
header .navbar ul {
  list-style: none;
  flex-direction: column;
}
header .navbar ul li {
  background-color: #333;
  margin: 10px 0;
  width: 250px;
  border-radius: 40px;
}
@media screen and (max-width: 600px) {
  header .navbar ul li {
    width: 220px;
  }
}
header .navbar ul li:hover {
  background-color: #f9ca24;
}
header .navbar ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  header .navbar ul li a {
    font-size: 90%;
  }
}

#Home {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #Home {
    font-size: 80%;
  }
}
#Home div {
  margin: 200px 0;
}
#Home div h3 {
  color: #fff;
  text-transform: uppercase;
}
#Home div h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 5px;
}
#Home div p {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

#About {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #About {
    font-size: 80%;
  }
}
#About .inf_me {
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}
#About .inf_achieve {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  margin-bottom: 80px;
  gap: 15px;
}
#About .inf_achieve .inf_achieve_item {
  color: #fff;
  padding: 20px;
  height: 100px;
  background-color: #333;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  #About .inf_achieve {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1px 15px;
  }
}

#Education {
  padding: 0 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  #Education {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  #Education {
    font-size: 80%;
  }
}
#Education .Education_time {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px 15px;
}
@media screen and (max-width: 1200px) {
  #Education .Education_time {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #Education .Education_time {
    grid-template-columns: repeat(1, 1fr);
  }
}
#Education .Education_time .item {
  display: flex;
}
#Education .Education_time .item span {
  position: relative;
  padding-right: 25px;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  background-color: #f9ca24;
  color: #fff;
  border-radius: 50%;
}
#Education .Education_time .item span i {
  margin-left: 25px;
  font-size: 22px;
}
#Education .Education_time .item span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 160px;
  background-color: #fff;
  bottom: -160px;
  left: 22px;
}
@media screen and (max-width: 1200px) {
  #Education .Education_time .item span::after {
    height: 100px;
    bottom: -100px;
  }
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item span::after {
    height: 100px;
    bottom: -100px;
  }
}
@media screen and (max-width: 600px) {
  #Education .Education_time .item span::after {
    height: 70px;
    bottom: -70px;
  }
}
#Education .Education_time .item .year {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  font-size: 14px;
  width: 60px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
}
#Education .Education_time .item .carrer {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item .carrer {
    font-size: 14px;
  }
}
#Education .Education_time .item p {
  color: #fff;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  #Education .Education_time .item p {
    margin-top: 5px;
  }
}

#Portfolio {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #Portfolio {
    font-size: 80%;
  }
}
#Portfolio .box-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 15px;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  #Portfolio .box-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 15px;
  }
}
#Portfolio .box-container .box img {
  width: 100%;
  height: 120%;
}

#Contact {
  padding: 0 50px;
  margin: 70px 0;
}
@media screen and (max-width: 768px) {
  #Contact {
    font-size: 80%;
  }
}
#Contact .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  #Contact .row {
    flex-direction: column;
  }
}
#Contact .row .content {
  width: 100%;
  padding-top: 16px;
}
#Contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  #Contact .row .content .title {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  #Contact .row .content .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #Contact .row .content .title {
    padding-bottom: 10px;
  }
}
#Contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
  font-weight: normal;
}
#Contact .row .content .info h3 i {
  padding-right: 1rem;
  color: #f9ca24;
}
@media screen and (max-width: 1200px) {
  #Contact .row form {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  #Contact .row form {
    margin-left: 0px;
  }
}
#Contact .row form .box {
  border: none;
  padding: 10px;
  margin: 16px 0;
  background: #222;
  color: #fff;
  font-size: 16px;
  width: 100%;
}
#Contact .row form .box::-moz-placeholder {
  text-transform: capitalize;
}
#Contact .row form .box:-ms-input-placeholder {
  text-transform: capitalize;
}
#Contact .row form .box::placeholder {
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */